
body {
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;


}

/* NAVBAR */


nav {
    height: 90px;
}

.nav-link {
    color: white;
    font-size: 20px;

}

.nav-link.active {
    color: black
}

.nav-link.user-icon {
    margin-left: auto;
    margin-right: 15px;
}


/* HOMEROUTE*/

.container {
    margin-top: 120px;
    
}
.text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}
.enter{
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    
    color: white;
    padding: 18px 30px;
    position:absolute;
    margin-top: 80px;
    border-color: black;
}

/* SEARCHCOMPONENT */

.container.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    color: whitesmoke;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button.search {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Montserrat', sans-serif ;
  
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .card.text{
    max-width: 20rem;
  }

  .card-header,.card-title{
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    
  }
  h5{
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    
  }

  /* ALERT */
  
  .alert-dismissible{
    margin-top: 4px;
  }
 




@media only screen and (max-width: 600px) {
    .container {
        margin-top: 50px;
        
    }
    .enter {
       font-size: 14px;
       margin-top: 100px;
       
   }
} 

